<div class="row">
  <div class="col-sm text-center">
    <h1 class="text-center">Past Events</h1>
    <% @events.past.each do |event| %>
    <div class="card border-warning">
        <%= image_tag event.event_photo_url, class:"card-img-top" if event.event_photo? %>
        <div class="card-body">
        <h5 class="card-title"><%=event.title%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=event.date.strftime("%m/%d/%Y")%></h6>
        <p class="card-text">simple_format(event.description)</p>
        <%= link_to "See Event", event_path(event) %>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%=pluralize(event.attendance_count,'Person')%>  Attended</small>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-sm text-center">
    <h1 class="text-center">Futures Events</h1>
    <% @events.upcoming.each do |event| %>
    <div class="card border-primary">
      <%= image_tag event.event_photo_url, class:"card-img-top" if event.event_photo?%>
      <div class="card-body">
        <h5 class="card-title"><%=event.title%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=event.date.strftime("%m/%d/%Y")%></h6>
        <p class="card-text">simple_format(event.description)</p>
        <%= link_to "See Event", event_path(event) %>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%=pluralize(event.attendance_count,'Person')%>  Attending</small>
      </div>
    </div>
    <% end %>
  </div>
</div>
